{% extends 'base.html' %}

{% block content %}
<div class="container-fluid p-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        {% block page_header %}{% endblock %}
    </div>

    <div class="text-center mb-4 pb-3 border-bottom">
        
        <a href="{{ url_for('main_bp.admin_page') }}" 
           class="btn {% if request.endpoint == 'main_bp.admin_page' %}btn-primary{% else %}btn-outline-secondary{% endif %}">
           Painel Admin
        </a>

        <a href="{{ url_for('main_bp.admin_doacoes_page') }}"
           class="btn {% if request.endpoint == 'main_bp.admin_doacoes_page' %}btn-primary{% else %}btn-outline-secondary{% endif %}">
           Ver Doações
        </a>

        <a href="{{ url_for('main_bp.admin_dado_page') }}" 
           class="btn {% if request.endpoint == 'main_bp.admin_dado_page' %}btn-primary{% else %}btn-outline-secondary{% endif %}">
           Ver Jogo
        </a>

    </div>

    <main>
        {% block admin_content %}{% endblock %}
    </main>
</div>
{% endblock %}