{% extends 'base.html' %}

{% block title %}Crie sua Conta{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Crie sua Conta</h2>
    <form id="registerForm">
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
            <input type="text" class="form-control" id="name" placeholder="Seu nome" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
            <input type="email" class="form-control" id="email" placeholder="Seu e-mail" required>
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
            <input type="password" class="form-control" id="password" placeholder="Crie uma senha" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
    </form>
    <p class="mt-4 text-center">
        Já tem uma conta? <a href="{{ url_for('main_bp.login_page') }}">Faça o login</a>
    </p>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}