{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container hero-section">
    <div class="row align-items-center">
        <div class="col-lg-6 text-center text-lg-start">
            {% if is_free_mode %}
            <div class="free-mode-banner">
                O período de teste gratuito termina em <strong>{{ free_mode_end_date }}</strong>. Aproveite!
            </div>
            {% endif %}
            <h1 class="display-4 fw-bold mb-3">Descubra Novas Formas de Apimentar a Relação</h1>
            <p class="lead mb-4">
                Com o SexyDice, cada jogada é uma nova surpresa. Deixe os dados guiarem a noite e explore momentos inesquecíveis com seu par.
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center justify-content-lg-start">
                {% if not current_user or (current_user.role == 'user' and (not current_user.subscription or current_user.subscription.status != 'active')) %}
                    {% if not is_free_mode %}
                        <a href="{{ url_for('main_bp.compra_page') }}" class="btn btn-primary btn-lg px-4 gap-3">Comprar Acesso</a>
                    {% endif %}
                {% endif %}

                <a href="{{ url_for('main_bp.dado_page') }}" class="btn btn-outline-secondary btn-lg px-4">Ver o Jogo</a>
            </div>
        </div>
        <div class="col-lg-6 mt-5 mt-lg-0">
            <div class="video-container" id="videoWrapper">
                <video id="promoVideo" src="{{ url_for('static', filename='videos/video-posicoes.mp4') }}" muted autoplay playsinline></video>
                <div class="replay-icon" id="replayIcon" style="display: none;">
                    <i class="bi bi-arrow-clockwise"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}