{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block page_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formulario.css') }}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Login</h2>
    <form id="loginForm">
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
            <input type="email" class="form-control" id="email" placeholder="Seu e-mail" required>
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
            <input type="password" class="form-control" id="password" placeholder="Sua senha" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Entrar</button>
    </form>
    <p class="mt-4 text-center">
        Não tem uma conta? <a href="{{ url_for('main_bp.cadastro_page') }}">Cadastre-se</a>
    </p>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}